* {
  box-sizing: border-box;
}

html {
  font-family: Ubuntu, system-ui, sans-serif;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.3em;
  font-weight: 800;
  line-height: 1.15;
}
footer{
  font-size: xx-small;
  text-align: center;
}
@media (max-width: 767px) {
  h1{
    color: wheat;
    text-shadow: black 5px 3px 3px;
    text-align: center;
    font-size: 40px;
    font-style: oblique;
  }
  body {
  
    background-color: gray;
    font-size: 1.8rem;
    line-height: 1.55;
  }
  main{
    display: flex;
    flex-wrap: wrap;
     justify-content: space-evenly; 
}
  img{
    width: 10vh;
    height: 15vh;
    margin: 7px;
    border: 2px solid wheat; 
    box-shadow: black 3px 3px 3px; 
    border-radius: 10px;
  }

 body footer{
  display: flex;
  align-items: flex-end;
  margin-top: 40px; 
  }

}

@media (min-width: 768px) {

  h1{
    color: wheat;
    text-shadow:black 6px 7px 7px;
    text-align: center;
    font-size: 60px;
    font-style: oblique;
  }
  body {
    background-color: gray;
    font-size: 2rem;
    line-height: 1.7;
  }
  main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
main img{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  img{
    width: 40vh;
    height: 50vh;
    margin: 25px;
    border: 3px solid wheat; 
    box-shadow: black 9px 12px 5px; 
    border-radius: 10px;
  }
}